*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}
.cruds{
    width: 80%;
    margin: auto;
}
.text{
    text-align: center;
    text-transform: uppercase ;
    margin: 10px;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border: 4px;
    padding: 4px;
    border-radius: 5px;
    color: white;
}
input:focus{
    background-color: #000;
    transform: scale(1.1);
}
.price{
    display: flex;
    align-items: center;
}
.price input{
    width: 20%;
}
#total{
    background-color: brown;
    padding: 4px 2px;
    border-radius: 4px  ;
}
#total::before{
    content: 'Total';
}
button{
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #560875;
    color: #fff;
    border-radius: 20px;
    transition: 1.5s;
    font-size: 25px;
}
button:hover{
    background-color: #51025f;
    letter-spacing: 1.5px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
    
}
.btnsearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th td{
    padding: 5px;
}





/* ------------------------------- */
